.descrizione-chi-siamo {
    padding: 1px;
    margin: 2px;
}

.descrizione-chi-siamo {
    width: 80%;
}

.descrizione-chi-siamo p {
    padding-left: 30px;
}

.descrizione-chi-siamo article {
    display: flex;
    align-items: center;
    border: solid black;
}

.descrizione-chi-siamo article img {
    margin-left: 30px;
}

.descrizione-chi-siamo img {
    width: 40%;
}

.contenitore-section {
    display: flex;
    justify-content: space-between;
}

.titoli {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 30px;
}

.prenotazioni-pubblicita {
    padding: 1px;
    margin: 5px;
    border: solid black;
    width: 45%;
}

.prenotazioni {
    height: 50%;
}

.pubblicita img{
    object-fit: cover;
    width: 100%;
}

.prenotazioni p {
    font-size: 40px;
    text-align: center;
}

.campi {
    display: flex;
    justify-content: space-around;
}

.campi ul li {
    list-style: none;
    font-size: 30px;
    border: solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}