
@import url('materiale/fonts/Gabelisa.otf');
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url('materiale/fonts/Gabelisa.otf');
}

/*HEADER + EVENTUALI*/


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px;
}
ul{
    display: flex;
    list-style-type: none;
}
a{
    padding: 17px;
    text-decoration: none;
    color: black;
}
li{
    padding-left:5px;
    padding-right:5px;
}
li a:hover{
    border:0.1px solid;
    border-radius: 12px;
    padding:16px;
}
li a:hover#primoTasto{
    background-color: #ebe9ac;
    position: relative;
    z-index: 1;
}
#sectionPreMainConHeader{
    background-image: url('materiale/sfondo.jpg');
    background-size: cover;
    height: 100vh;
}


/*SECTION SOTTO L'HEADER*/


#sectionUnderHeader{
    display:flex;
    justify-content: space-around;
}
#sectionUnderHeader article{
    width: 40vw;
    text-align: center;
    padding-top: 50px;
    margin-left: 60px;
}
#sectionUnderHeader p{
    padding: 10px;
}
#sectionUnderHeader div{
    padding: 20px;
    display: flex;
    width: 400px;
    align-items: center;
    margin:auto;
    font-size: 30px;
}

/*PRIMA SECTION DEL MAIN*/

.sectionMain{
    text-align: center;
    margin-top: 50px;
}
.sectionMain h1{
    font-weight: 100;
    margin-bottom: 20px;
}
.sectionMain span{
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;

}
#primaSectionDelMain section{
    margin-top: 40px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#primaSectionDelMain h3{
    margin-bottom: 10px;    
}


/*SECONDA SECTION DEL MAIN*/


#sectionInsideSecondSectionMain{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    margin: auto;
}
#sectionInsideSecondSectionMain section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 340px;
    align-content: center;
}
.piatto{
    width: 500px;
    height: 161px;
    text-align: start;
    color:white;
    padding: 20px;
    line-height: 35px;
    font-size: 20px;
}
.piatto h3{
    width: 60%;
}
#piatto1{
    height: 322px;
    background-image: url('materiale/piatto1.jpg');
    background-size: auto;
    margin-top: 9px;
    margin-bottom: 9px;
}
#piatto2{
    background-image: url('materiale/piatto2.jpg');
}
#piatto3{
    background-image: url('materiale/piatto3.jpg');

}
.piatto span{
    font-size: larger;
}


/*FOOTER*/


footer{
    margin-top: 100px;
    height: 60vh;
    background-image: url('materiale/BG-footer.jpg');
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
}
#footerSx{
    padding-top: 40px;
    width: 25%;
}
#footerSx p{
    margin-top: 30px;
}
#footerSx span{
    display: block;
    margin-top: 100px;    
}
#footerDx {
    align-self: center;
    width: 25%;
}
#footerDx article{
    display:flex;
}
.insideArticle{
    align-items: center;
    width: 300px;
}
#outerArticle{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#footerDx p{
    margin-left: 10px;
}
#footerDx a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
#linkASocial{
    display: flex;
    position: relative;
    top:100px;
    left:150px;
}




/*EVENTI.HTML*/
#eventiHeader{
    background-color: #ffe001;
}
#eventiConDidascalie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}
#eventiConDidascalie p{
    margin:40px;
    margin-top: 0;

}
#eventiConDidascalie img{
    height: 300px;
}
#immagineEsplicativa{
    
}