* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a:visited {
    color: darkmagenta;
    /* per quando si è gia visitato un sito cambia il colore del link */
}

a:hover {
    color: blue;
    text-decoration: underline orange;
    background-color: aqua;
    /* questo indica quando andiamo sopra con il mouse e serve per cambiare stato all elemento */
}

a:active {
    color: black;
    /* indica quando si preme con il tasto sinistro del muose un oggetto */
}

header ul li {
    display: inline-block;
    list-style-type: none;
    background-color: darkcyan;
}

header nav {
    background-color: darkcyan;
}

header ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    /* serve per mettere tutto in maiuscolo, esistono anche altre proprietà */
    font-weight: 500;
    font-size: 20px;
    display: block;
    /* cosi facciamo diventare tutto clicccabile un pulsante e non solo la parola */
    padding: 8px 16px;
}

.hero {
    background-image: url("immagini/grecia.jpg");
    /* per mettere un immagine di sfondo */
    height: 300px;
    /* background-size: contain;
    utilizza una dimensoione dell' immagine come prametro per il riempimento */
    /*background-repeat: no-repeat;
     serve per non ripetere in sequenza l' immagine */
    background-size: cover;
    background-position: center;
}