* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* GENERICI */

.logo {
    width: 130px;
    margin-bottom: -4px;
    overflow: hidden;
    padding: 5px;
}

h1 {
    color: #F5F5DC;
    font-size: 80px;
    font-weight: 1000;
}

h2 {
    font-size: 60px;
    color: #F5F5DC;
    margin-bottom: 40px;
}

.pulsante {
    background-color: #B0C4DE;
    width: 85%;
    margin: 20px auto 0px auto;
    border-radius: 20px;
    background-color: aqua;
}

a:hover {
    color: white;
    text-decoration: underline #FFFFFF;
}

h3 {
    color: #F5F5DC;
    font-size: 30px;
    margin-bottom: 10PX;
}

/* HEADER */

header,
footer,
.contenitoreMenu {
    background-color: #556B2F;
}

header li {
    display: inline-block;
    padding: 30px;
    font-size: 30px;
}

header{
    position: sticky;
    top: 0;
}

.contenitoreMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenitoreMenu a {
    color: #FFFFFF;
    text-decoration: none;
}

.hero p {
    color: #F5F5DC;
    font-size: 30px;
    display: flex;
}

.hero {
    background-image: url(immagini/imgBK.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}

.heroStruttura {
    background-image: url(immagini/Struttura.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}

.sezioneBenvenuto {
    width: 60%;
    margin: 0 auto;
}

.sezioneBenvenuto p {
    background-color: #9caf88c0;
    border-radius: 20px;
    padding: 3px;
}

/* MAIN */

.contIntroduzione {
    background-color: #9CAF88;
    margin: 40px 8%;
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #D3D3D3;
    box-shadow: 10px 5px 20px #9CAF88;
}

.introduzione {
    width: 65%;
    text-align: center;
    margin: auto auto;
}

.introduzione p {
    font-size: 30px;
    color: #F5F5DC;
}

.strutturaCamere,
.salaGiardinoCucina,
.serviziContatti {
    display: flex;
    justify-content: space-evenly;
}

.strutturaCamere,
.salaGiardinoCucina,
.serviziContatti img {
    width: 100%;
}

.struttura,
.camere,
.servizi,
.contatti {
    border: 8px solid #D3D3D3;
    padding: 30px;
    border-radius: 20px;
    width: 48%;
    text-align: center;
    margin: 10px 8%;
    background-color: #9CAF88;
    box-shadow: 10px 5px 20px #9CAF88;
}

.struttura p,
.camere p,
.servizi p,
.contatti p,
.salaComune p,
.giardino p,
.cucina p {
    font-size: 20px;
    color: #F5F5DC;
    border: solid #D3D3D3;
    border-radius: 20px;
    padding: 10px;
}

.salaComune,
.giardino,
.cucina {
    border: 8px solid #D3D3D3;
    padding: 30px;
    border-radius: 20px;
    width: 48%;
    text-align: center;
    margin: 10px 1%;
    background-color: #9CAF88;
    box-shadow: 10px 5px 20px #9CAF88;
}

.serviziContatti {
    display: flex;
}

.pulsante a {
    text-decoration: none;
    color: #556B2F;
    font-size: 20px;
    display: block;
}

a:hover {
    color: #FFFFFF;
}

/* FOOTER */

footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}

.menuFooter {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menuFooter a,
li {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
}

.menuFooter li :hover {
    text-decoration: underline #FFFFFF;
}