* {
    margin: 0;
    padding: 0;
}

.card-conteiner {
    display: flex;
    background-color: aqua;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: red;
    padding: 10px;
}

.card h2 {
    color: white;
}

.font-20 {
    font-size: 20px;
}