* {
    padding: 0;
    margin: 0;
    color: white;
    background-color: gray;
    font-size: 30px;
}

/* HEADER */

header form {
    margin: 30px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

header li {
    list-style: none;
}

header button {
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 30px;
}

/* MAIN */

main .imamgine-dinamica {
    height: 200px;
    width: 300px;
    border: solid black;
}

main {
    padding-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

footer img {
    height: 150px;
    width: auto;
}